.searchResults{
  display: flex;
  flex-direction: column;
  height: 500px;
  width:45%;
  background-color: blueviolet;
  opacity: 0.9;
  border: 1px solid black;
  align-content: space-around;
  padding: 5px;
  margin: 15px;
  overflow-y: auto;
}